
@font-face {
    font-family: 'TTNormsBold';
    src: url('assets/fonts/TT Norms Pro Bold.otf');
}

@font-face {
    font-family: 'TTNormsRegular';
    src: url('assets/fonts/TT Norms Pro Regular.otf');
}

@font-face {
    font-family: 'TTNormsMedium';
    src: url('assets/fonts/TT Norms Pro Medium.otf');
}

@-ms-viewport {
    width: device-width;
}


$primary: #f99d28;
$primary-accent: #f99d28;
$secondary: #5cc3d6;
$tertiary: #0290c9;
$alert: #FF4D4D;
$primary-text: #181818;
$body: #58595b;
$info-edit: #5C85D6;
$default: #C4C4C4;
$default-darker: #686868;
$shadow1: 0 0 16px rgba(0, 0, 0, 0.12);
$bodyBackground: #FBFBFB;

html, body {
    background-color: $bodyBackground
}

html, body, p, span, div, label {
    color: #505050;
    line-height: 1.4;
    font-family: 'TTNormsRegular';
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
    background-color: transparent;
}

span, p, label {
    background-color: transparent;
}

.playground-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.full-width {
    width: 100%;
}

.text-title-color {
    color: #181818;
}

.subtext-color {
    color: #58595b;
}

.primary-bg {
    background-color: $primary;
}

.primary-accent-bg {
    background-color: $primary-accent;
}

secondary-bg {
    background-color: $secondary;
}

tertiary-bg {
    background-color: $tertiary;
}

.alert {
    color: $alert !important;
}

.alert-bg {
    background-color: $alert;
}

.ms-btn {
    background-color: $default;
    display: block;
    text-align: center;
    color: white;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 50px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    font-weight: 600;
    font-family: TTNormsBold;
    margin: 1em;
    text-transform: uppercase;
}

.ms-btn-primary {
    background-color: $primary;
}

.ms-btn-secondary {
    background-color: $secondary;
}

.ms-btn-alert {
    background-color: $alert;
}

.ms-btn-information {
    background-color: $info-edit;
}

.ms-btn-icon i {
    margin-right: 1em;
}

.ms-banner-card {
    background-size: cover;
    min-height: 12em;
    border-radius: 5px;
    color: white;
    margin: 1em;
    position: relative;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);

    span:nth-child(1) {
        font-size: 0.8em;
        color: white;
        text-transform: uppercase;
        position: absolute;
        margin: 1em 0 0 1.3em;
    }

    span:nth-child(2) {
        color: white;
        font-size: 1em;
        font-family: TTNormsBold;
        position: absolute;
        margin: 2em 0 0 1em;
    }

    p {
        color: white;
        position: absolute;
        left: 1em;
        font-size: 0.8em;
        text-align: left;
        bottom: 1em;
    }

    //use with ionic slide
    // change target elements to match
}

.ms-store-card {
    background-size: cover;
    width: 50%;
    min-height: 10em;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em;
    box-shadow: $shadow1;

    // use with ionic card for square
    // change target elements to match
}

.ms-section-title {
    text-transform: uppercase;
    font-family: TTNormsBold;
    font-size: 1em;
    margin: 2em 1em 0;

}

.ms-items-list {
    list-style: none;
    padding: 0;
    margin: 1em;

    li {
        border-radius: 5px;
        box-shadow: $shadow1;
        height: 7em;
        margin-bottom: 1em;
        position: relative;
        background-color: white;

        div div img {
            height: 5.5em;
            position: absolute;
            left: 0.7em;
            max-width: 5.5em !important;
            border-radius: 5px;
            top: 0.7em;
        }

        div div h5 {
            font-size: 0.9em;
            margin-bottom: 0.5em;
            margin-top: 0;
            font-family: TTNormsMedium;
        }

        div div p {
            font-size: 0.8em;
            color: $default-darker
        }
    }

    li > div {
        padding-left: 7em;
        padding-top: 0.7em;
    }
}

.ms-milestones-list {
    list-style: none;
    padding-left: 0;
    margin: 1em;

    li {
        border-radius: 5px;
        box-shadow: $shadow1;
        height: 3em;
        margin-bottom: 1em;
        position: relative;
        background-color: white;
        padding: 1em 1em 1em 3em;
        position: relative;

        div div h5 {
            padding-right: 5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        div div.date {
            position: absolute;
            right: 1em;
            text-align: center;
            top: 1.6em;

            span {
                color: $default-darker;
                text-transform: uppercase;
                font-family: TTNormsBold;
                line-height: 1.2;
            }

            span:nth-child(1) {
                font-size: 0.6em;
                color: $default;
            }

            span:nth-child(2) {
                font-size: 1.2em;
            }
        }


        div {
            div {
                h5 {
                    font-size: 0.9em;
                    margin-bottom: 0.5em;
                    margin-top: 0;
                    font-family: TTNormsMedium;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }

    li.coordinated::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 7.5px;
        background-color: $secondary;
        position: absolute;
        top: 2em;
        left: 1em;
        box-shadow: 0 0 5px $secondary;
    }

    li.self-managed::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 7.5px;
        background-color: $primary;
        position: absolute;
        top: 2em;
        left: 1em;
        box-shadow: 0 0 5px $primary;
    }
}

.ms-checklist {
    list-style: none;
    padding-left: 0;
    margin: 1em;

    li {
        border-radius: 5px;
        box-shadow: $shadow1;
        height: 3em;
        margin-bottom: 1em;
        position: relative;
        background-color: white;
        padding: 1em;
        position: relative;

        div {
            span {
                span {
                    font-family: TTNormsRegular;
                    font-size: 1.2em;
                    display: inline-block;
                    margin-left: 2.4em;
                }

                i {
                    color: $primary;
                    font-size: 2em;
                    width: 1em;
                    text-align: center;
                    position: absolute
                }
            }

            p {
                color: $default-darker;
                font-size: 0.6em;
                margin-left: 4.8em;
                text-transform: uppercase;
            }
        }

        div span.status {
            right: 1em;
            text-align: center;
            position: absolute;
            top: 0%;
            bottom: 0;
            text-transform: uppercase;
            padding-top: 2.5em;
            font-family: TTNormsBold;
            font-size: 0.8em;
        }
    }

    li.has-update {
        border: 1px solid $primary;
    }
}

.ms-bottom-bar {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: white;
    position: fixed;
    bottom: 0;
    box-shadow: $shadow1;

    div {
        text-align: center;
        color: $primary;
        width: 25%;
        align-self: center;
        background-color: transparent;
        position: relative;

        a.active:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 7.5px;
            background-color: $primary;
            position: absolute;
            bottom: -1.5em;
            box-shadow: 0 0 5px $primary;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
}

.ms-catergory-columns {
    display: flex;
    flex-flow: row wrap;
    padding: 1em;

    div {
        width: 50%;
        margin: 0.5em 0;
    }

    a span {
        display: inline;
    }

    a i {
        color: $primary !important;
        margin-right: 1em;
    }
}

.ms-2column-menu, .ms-1column-menu, .ms-categories {
    padding: 7em 4em 4em;
    display: flex;
    flex-flow: row wrap;

    h5.title {
        text-transform: uppercase;
        font-family: TTNormsBold;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin: 0 0 2em;
    }

    div {
        width: 50%;
        text-align: center;
        margin-bottom: 2em;

        h5 {
            font-size: 2.5em;
            color: $primary;
            margin: 0.5em;
        }

        label {
            font-size: 0.8em;
            font-family: TTNormsMedium;
        }
    }
}

.ms-1column-menu {
    div {
        width: 100% !important;
    }
}

a.screen-close {
    background-color: $default-darker;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 4em;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0.8;

    i {
        color: white;
        margin-top: 0.7em;
        font-size: 1.2em;
    }
}

.ms-topbar {
    display: flex;
    flex-flow: row wrap;
    height: 85px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: $shadow1;

    div {
        width: 50%;
    }

    div:nth-child(1) {
        img {
            width: 130px;
            margin: 1.3em 0 0 1em;
        }
    }

    div:nth-child(2) {
        text-align: right;
        color: $primary;
        align-self: center;

        a {
            font-size: 1.5em;
            margin-right: 1em;
        }
    }
}

.ms-details, .ms-milestones, .ms-merchants, .ms-merchant-details {
    margin: 2em 1em 0 1em;

    div.top-bar {
        display: flex;
        flex-flow: row wrap;

        div {
            width: 50%;
        }

        div:nth-child(1) {
            a {
                color: $primary;
                font-size: 1.3em;
            }
        }

        div:nth-child(2) {
            text-align: right;

            span.type {
                text-transform: uppercase;
                font-size: 0.6em;
                display: inline-block;
                margin-right: 6em;
                font-family: TTNormsBold;
            }

            span.type:before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 7.5px;
                background-color: $primary;
                box-shadow: 0 0 5px $primary;
                margin-right: 10px;
            }

            span.type.self-managed:after {
                content: "self-managed";
            }

            span.type.coordinated:after {
                content: "coordinated";
            }

            a {
                color: $primary;
                font-size: 1.3em;
                position: absolute;
                right: 1em;
            }
        }
    }

    h3 {
        margin: 1em 0 1.5em 0;
        font-family: TTNormsRegular;
        text-align: center;
    }


    div.details {
        display: flex;
        flex-flow: row wrap;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: 1px solid $default;

        span {
            width: 25%;
            font-size: 0.6em;
            font-family: TTNormsMedium;

            i {
                color: $primary;
                font-size: 1.6em;
                margin-bottom: 10px;
            }
        }
    }
}

.no-topbar {
    padding-top: 0;
}

.ms-product, .ms-content-story {
    img {
        width: 100%;
        margin-bottom: 1em;
    }

    div.top-bar {
        margin: 0 1em;

        div {
            width: 100%;

            a {
                color: $primary;
            }
        }
    }

    h3 {
        margin-bottom: 2em;
    }

    div.detail, div.content {
        margin: 0 1em;
        position: relative;

        div {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 2em;

            span {
                width: 50%;
                font-family: TTNormsBold;
            }

            span:nth-child(1) {
                color: $primary;
                text-transform: uppercase;
                text-align: left;
                font-size: 0.8em;
            }

            span:nth-child(2) {
                text-align: right;
            }

            span:nth-child(2):after {
                position: absolute;
                right: 0;
                top: 5.2em;
                font-size: 0.6em;
                font-family: TTNormsBold;
                content: "PHP";
            }
        }

        p {
            text-align: justify;
            font-size: 0.8em;
            overflow: hidden;
            word-wrap: normal;
            margin-bottom: 1.2em;
        }

        p:last-child {
            margin-bottom: 2em;
        }

        h3.ms-section-title{
            margin-left: 0;
        }
    }
}

.ms-milestones {
    padding: 1.5em 1em 1em;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: $bodyBackground;
    z-index: 1000;

    div.top-bar {
        div {
            position: relative;
            
            a:after {
                content: "your milestones";
                text-transform: uppercase;
                font-size: 0.8em;
                color: $primary-text;
                font-family: TTNormsBold;
                position: absolute;
                width: 12em;
                margin: 4px 0 0 20px;
            }
        }
    }
}

.ms-milestones + ul.ms-milestones-list {
    margin-top: 0;
    padding-top: 80px;
}

.ms-categories {
    padding: 4em 1em 3em;

    h5.title {
        margin-bottom: 0;
        text-align: left;
        margin-left: 2em;
    }

    ul {
        list-style: none;

        li {
            position: relative;
            font-size: 1.2em;
            margin: 1em 0;

            a {
                i {
                    color: $primary;
                    position: absolute;
                }

                span {
                    display: inline-block;
                    margin-left: 2em;
                }
            }
        }
    }
}

.ms-merchants {
    padding: 1.2em 1em 1em;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: $bodyBackground;
    z-index: 1000;

    div.top-bar {
        div:first-child {
            a {
                span {
                    position: absolute;
                    display: inline-block;
                    margin-left: 1.5em;
                    text-transform: uppercase;
                    font-family: TTNormsBold;
                    font-size: 0.8em;
                    margin-top: 4px;
                }
            }
        }

        div:last-child {
            a {
                right: 2.5em;
            }
        }
    }
}

.ms-merchants + ul.ms-merchants-list {
    margin-top: 0;
    padding-top: 80px;
}

.ms-merchants-list {
    list-style: none;
    padding: 1em;

    li {
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow1;
        margin-bottom: 1em;

        div {
            div.banner {
                height: 6em;

                div.images {
                    display: flex;
                    flex-flow: row wrap;

                    div {
                        height: 6em;
                        background-position: center;
                        background-size: cover;
                        width: percentage(1/4);
                    }

                    div:first-child {
                        border-top-left-radius: 5px;
                    }

                    div:last-child {
                        border-top-right-radius: 5px;
                    }
                }
            }

            div.detail {
                padding: 0.8em 1em 1em;
                display: flex;
                flex-flow: row wrap;

                div:first-child {
                    width: 70%;

                    h5 {
                        font-size: 1em;
                        margin-bottom: 0.5em;
                        margin-top: 0;
                    }

                    p {
                        font-size: 0.6em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                div:last-child {
                    width: 30%;
                    display: flex;
                    flex-flow: row wrap;

                    span {
                        position: relative;
                        width: 50%;
                        text-align: center;
                        align-self: center;
                        font-size: 1.5em;
                        font-family: TTNormsBold;
                        margin-top: 1em;
                        color: $primary;
                    }

                    span.tag:after {
                        font-size: 0.3em;
                        font-family: TTNormsBold;
                        color: $default;
                        position: absolute;
                        top: -2em;
                        right: 0;
                        left: 0;
                        text-transform: uppercase;
                    }

                    span.rating:after {
                        content: "rating";
                    }

                    span.reviews:after {
                        content: "reviews";
                    }
                }
            }
        }
    }
}

hr.section-border {
    margin: 0 1em;
    opacity: 0.5;
}

.ms-store-collection {
    display: flex;
    flex-flow: row wrap;

    div.ms-store-card {
        width: percentage(1/2);
    }
}

.ms-content-story {
    div.content {
        margin: 1em;
        padding-bottom: 2em;

        span {
            text-transform: uppercase;
            font-size: 0.8em;
            font-family: TTNormsBold;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 1em;
        }

        p {
            font-size: 0.8em;
        }

        ul.ms-items-list {
            margin: 0;

            li div {
                margin-bottom: 0;

                div:last-child {
                    h5 {
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.ms-merchant-details {
    margin-top: 1em;

    div.detail {
        h3 {
            text-align: left;
            margin-bottom: 1em;
        }

        p {
            font-size: 0.8em;
            text-align: justify;
        }

        div.tabs {
            display: flex;
            flex-flow: row wrap;
            padding: 1.5em 0 1em;
            border-bottom: 1px solid $default;

            span {
                width: percent(1/3);
                margin: 0 0.6em;
                text-transform: uppercase;
                font-size: 1em;
                font-family: TTNormsBold;
                opacity: 0.3;
            }

            span.active {
                opacity: 1;
                color: $primary;
            }

            span:first-child {
                margin-left: 0;
            }
        }

        div.tab-content {
            ul.ms-items-list {
                margin: 1em 0 0 0;

                li div {
                    margin-bottom: 0;
                    padding-right: 0.5em;

                    div:last-child {
                        h5 {
                            margin-bottom: 0;
                        }

                        p {
                            margin-bottom: 0;
                            font-size: 0.7em;
                        }
                    }
                }
            }

            ul.ms-reviews {
                padding: 0;

                h3 {
                    font-size: 0.8em;
                    font-family: TTNormsBold;
                    margin-left: 5em;
                    margin-top: 0.5em;
                    margin-bottom: 0.3em;
                }

                p {
                    font-size: 0.7em;
                }
            }
        }
    }
}

.ms-merchant-banner, .ms-gallery {
    display: flex;
    flex-flow: row wrap;

    div {
        height: 6em;
        background-position: center;
        background-size: cover;
        width: percentage(1/4);
    }

    div:first-child {
        border-top-left-radius: 5px;
    }

    div:last-child {
        border-top-right-radius: 5px;
    }
}

.ms-gallery {
    margin-top: 1em;

    div {
        width: percentage(1/3);
        border-radius: 0 !important;
    }
}

.ms-reviews {
    list-style: none;
    padding: 0 1em;

    li {
        background-color: white;
        border-radius: 5px;
        box-shadow: $shadow1;
        padding: 1em;
        margin-bottom: 1em;

        div {
            position: relative;

            div.image {
                height: 3em;
                width: 3em;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                position: absolute;
            }

            div {
                h3 {
                    font-size: 0.8em;
                    font-family: TTNormsBold;
                    margin-left: 5em;
                    margin-top: 0.5em;
                    margin-bottom: 0.3em;
                }

                span.date {
                    font-size: 0.6em;
                    color: $default;
                    text-transform: uppercase;
                    opacity: 0.8;

                    span:first-child {
                        position: absolute;
                        font-family: TTNormsBold;
                        right: 0;
                        top: 0;
                    }

                    span:last-child {
                        position: absolute;
                        font-family: TTNormsBold;
                        right: 0;
                        top: 1em;
                    }
                }

                span.rating {
                    margin-left: 4em;
                    i {
                        color: $primary;
                    }
                }

                div {
                    padding-left: 4em;
                    text-align: justify;
                    p {
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}

